form {
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .box {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
      border-radius: 8px;
      padding: 10px;
      border: 1px solid #c6c6c6;
    }
  }

  .btn-container {
    display: flex;
    gap: 10px;
  }
}
